<form id="specialitiesform" style="display:none; text-align: right;">
    <input style="float:left;" type="text" placeholder="COMPANY SPECIALTIES " class="formfull">
    <input class="addbutton" type="submit" value="ADD">
    <div class="clear"></div>
</form>
<div class="top" style="padding: 26px; color:black;">
    <p>SPECIALTIES1 </p>
    <a class="btn-edit" href="#"><img src="assets/img/edit-32.png"></a>
    <a class="btn-delete" href="#"><img src="assets/img/delete-32.png"></a>
</div>
<div class="top" style="padding: 26px; color:black;">
    <p>SPECIALTIES2 </p>
    <a class="btn-edit" href="#"><img src="assets/img/edit-32.png"></a>
    <a class="btn-delete" href="#"><img src="assets/img/delete-32.png"></a>
</div>
<div class="top" style="padding: 26px; color:black;">
    <p>SPECIALTIES3 </p>
    <a class="btn-edit" href="#"><img src="assets/img/edit-32.png"></a>
    <a class="btn-delete" href="#"><img src="assets/img/delete-32.png"></a>
</div>
