<div class="box formfull" id="rbox">
    <h1 id="employee" onclick="addform(this)" style=" cursor:pointer ; margin-left: 10px; font-weight: 400; color: #fe5a00;">ADD EMPLOYEE</h1>
    <form id="employeeform" style="display:none; text-align: right;">
        <input style="float:left;" type="text" placeholder="EMPLOYEE NAME " class="formfull">
        <input type="submit" value="ADD" class="addbutton">
        <div class="clear"></div>
    </form>
    <div class="top" style="padding: 26px; color:black;">
        <p>EMPLOYEE NAME 1 </p>
        <a class="btn-edit" href="#"><img src="assets/img/edit-32.png"></a>
        <a class="btn-delete" href="#"><img src="assets/img/delete-32.png"></a>
    </div>
    <div class="top" style="padding: 26px; color:black;">
        <p>EMPLOYEE NAME 2 </p>
        <a class="btn-edit" href="#"><img src="assets/img/edit-32.png"></a>
        <a class="btn-delete" href="#"><img src="assets/img/delete-32.png"></a>
    </div>
    <div class="top" style="padding: 26px; color:black;">
        <p>EMPLOYEE NAME 3 </p>
        <a class="btn-edit" href="#"><img src="assets/img/edit-32.png"></a>
        <a class="btn-delete" href="#"><img src="assets/img/delete-32.png"></a>
    </div>
</div>
