<div class="box formfull" id="rbox">
    <h1 id="location" onclick="addform(this)" style="cursor:pointer;  margin-left: 10px; font-weight: 400; color: #fe5a00;">ADD LOCATION</h1>
    <form id="locationform" style="display:none; text-align:right;">
        <textarea style="resize:none; height:120px;" placeholder="ADD1" class=" formfull"></textarea>
        <textarea style="resize:none; height:120px;" placeholder="ADD2" class=" formfull"></textarea>
        <input type="text" placeholder="CITY" class="formfull">
        <input type="text" placeholder="STATE" class="formfull ">
        <input type="text" placeholder="COUNTRY" class="formfull ">
        <input type="text" placeholder="EMPLOYEE" class="formhalf ">
        <input type="text" placeholder="PHONE" class="formhalf ">
        <input type="submit" value="ADD" class="addbutton">
        <div class="clear"></div>
    </form>
    <div class="top" style="padding: 26px; color:black;">
        <p>location,india</p>
        <a class="btn-edit" href="#"><img src="assets/img/edit-32.png"></a>
        <a class="btn-delete" href="#"><img src="assets/img/delete-32.png"></a>
    </div>
    <div class="top" style="padding: 26px; color:black;">
        <p>Gujrat,India</p>
        <a class="btn-edit" href="#"><img src="assets/img/edit-32.png"></a>
        <a class="btn-delete" href="#"><img src="assets/img/delete-32.png"></a>
    </div>
    <div class="top" style="padding: 26px; color:black;">
        <p>India</p>
        <a class="btn-edit" href="#"><img src="assets/img/edit-32.png"></a>
        <a class="btn-delete" href="#"><img src="assets/img/delete-32.png"></a>
    </div>
</div>
