<div class="formfull" id="set" style="width: 95%; margin: 0px 2%;">
    <div class="top" style="padding: 26px;">
        <p><a href="jobdetail.html" class="jobapp">JOB APPLICATION 1</a></p><br>
        <br>
        <a class="btn-edit" id="app1" onclick="viewcandidate(this);">View Candidates</a>
        <a href="jobdetail.html" class="btn-view">View Detail</a>
        <a class="btn-edit" style="cursor:pointer;" onclick="appljob(this)">Apply</a>
        <p>Created on <span class="detail">10-10-2013</span> </p>
        <br><br>
        <div id="candidateapp1" class="box candidatelist">
            <div class="top" style="padding: 26px;">
                <p style="float: none;">Candidate name</p>
                <p>Applied on <span class="detail">10-10-2013</span> </p>
                <br><br>
                <span class="detail">Jobtitle</span>
                <br><br>
                <hr style="color: rgb(255, 255, 255);">
            </div>
            <div class="top" style="padding: 26px;">
                <p style="float: none;">Candidate name</p>
                <p>Applied on <span class="detail">10-10-2013</span> </p>
                <br><br>
                <span class="detail">Jobtitle</span>
                <br><br>
                <hr style="color: rgb(255, 255, 255);">
            </div>
            <div class="top" style="padding: 26px;">
                <p style="float: none;">Candidate name</p>
                <p>Applied on <span class="detail">10-10-2013</span> </p>
                <br><br>
                <span class="detail">Jobtitle</span>
                <br><br>
                <hr style="color: rgb(255, 255, 255);">
            </div>
        </div>
        <hr style="color: rgb(255, 255, 255);">
    </div>
</div>