<div id="post-job-wrapper" ng-class="PersonProfileController" class="wrapper" style="padding-top:0px;">
    <input type="hidden" id="flag">
    <div class="pagewidth" style=" max-width:1180px; padding:10px;">
        @{Html.RenderPartial("LeftProfilePanelPortion"); 
        Html.RenderPartial("RightProfilePanelPortion");}
    </div>
</div>